backend/API/.vs
backend/API/bin/
backend/API/obj/

# Logs
frontend/Physio_UI/logs
frontend/Physio_UI/*.log
frontend/Physio_UI/npm-debug.log*
frontend/Physio_UI/yarn-debug.log*
frontend/Physio_UI/yarn-error.log*
frontend/Physio_UI/pnpm-debug.log*
frontend/Physio_UI/lerna-debug.log*

frontend/Physio_UI/node_modules
frontend/Physio_UI/dist
frontend/Physio_UI/dist-ssr
frontend/Physio_UI/*.local

# Editor directories and files
frontend/Physio_UI/.vscode/*
frontend/Physio_UI/!.vscode/extensions.json
frontend/Physio_UI/.idea
frontend/Physio_UI/.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sw?
